<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        input{
            width: 700px;
            height: 40px;
            border: 1px solid #000;
            border-radius: 5px;
            background: url(camera_01.png) no-repeat 660px center;
        }
        input:focus{
            background-image: url(camera_02.png);
            outline-color: #3385ff;
        }
    </style>
</head>
<body>
    <input type="text">
</body>
</html>